<div class="dashboard-user">
  <img class="image-dashboard" src="https://itechway.net/wp-content/uploads/2017/09/geek-boys-whatsapp-dp-1.jpg" alt="Profile Image">
</div>

<div class="headings-dashboard">
  <h2 class="section-heading">
    <span>Welcome <%= @user.first_name %></span>
  </h2>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 dashboard">
        <p>This is your personal dashboard where you can view all your cooking classes created and booked!</p>
        <p>We are happy to have you part of the FoodGuru family!</p>
          <div class="row">
            <div class="col-md-12">
              <div class="user-account-details">
                <div class="user-basic">
                  <p><span class="dash-label">First name :</span> <%= @user.first_name %></p>
                  <p><span class="dash-label">Last Name :</span> <%= @user.last_name %></p>
                  <p><span class="dash-label">Email :</span> <%= @user.email %></p>
                  <p><span class="dash-label">Profile description :</span> <%= @user.description %></p>
                </div>
                <div class="user-edit">
                  <p>
                    <%= link_to edit_user_registration_path do %>
                    <i class="far fa-edit"></i>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="headings-dashboard">
  <h2 class="section-heading">
    <span>You're hosting</span>
  </h2>
</div>


<div class="container">
      <div class="row">
        <%= render 'shared/card-mylessons' %>
      </div>
</div>


<div class="headings-dashboard">
  <h2 class="section-heading">
    <span>You're attending</span>
  </h2>
</div>


<div class="container">
    <div class="row">
        <%= render 'shared/card-booking' %>
    </div>
</div>

    <%= link_to "Go Back", lessons_path %>
  </div>
</div>

