<div class="wrapper profile">
  <div class="container boxed">
      <div class="row">
        <div class="profile-user-banner">

          <div class="user-profile-image">
            <% if current_user.image? %>
              <%= image_tag(@user.image) %>
            <% else %>
            <%= image_tag "https://itechway.net/wp-content/uploads/2017/09/geek-boys-whatsapp-dp-1.jpg" %>
            <% end %>
          </div>

            <div class="headings-profile">
              <h2 class="section-heading">
              <span><%= @user.first_name %> <%= @user.last_name %></span>
              </h2>
          </div>
        </div>

        <!-- <div class="headings-dashboard">
          <h2 class="section-heading">
            <span><%= @user.first_name %> <%= @user.last_name %></span>
          </h2>
        </div> -->

        <div class="profile-user-intro">
          <h4>BIOGRAPHY</h4>
            <p><%= @user.description %></p>


          <h4>JOIN <%= @user.first_name %>'S NEXT COOKING CLASS</h4>
          <div class="cards-user-profile">
            <%= render 'shared/card-profile-lessons' %>
          </div>
          <%= link_to "Go Back", lessons_path %>
        </div>
    </div>
  </div>
</div>

