<div class="dashboard-user">
  <img class="image-dashboard" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.louthcraftmark.com%2Fwp-content%2Fuploads%2F2015%2F07%2Fphoto-girl.png&f=1" alt="Profile Image">
</div>

<div class="headings-dashboard">
  <h2 class="section-heading">
    <span><%= @user.first_name %> <%= @user.last_name %></span>
  </h2>
</div>


<div class="wrapper">
  <div class="container">
    <div class="container">
      <div class="row">
        <h4>A BIT ABOUT YOUR HOST</h4>
        <p>I have been a chef for 10 years and enjoy teaching others to cook. Is one of the most humble and respectable chefs in the industry today despite winning multiple awards, including the top 5 HAPA Best Executive Chef in Singapore. His strong leadership, leveraging on the importance of teamwork, allows him to head his team for competition, bagging gold and silver medals.</p>
      </div>
    </div>

    <h4>JOIN <%= @user.first_name %>'S NEXT COOKING CLASS</h4>

    <div class="container">
      <div class="row">
        <%= render 'shared/card-profile-lessons' %>
      </div>
    </div>



   <!--  <h3>Lessons <%= @user.first_name %> signed up for</h3>

    <div class="container">
      <div class="row">
        <%= render 'shared/card-profile-bookings' %>
      </div>
    </div> -->

    <%= link_to "Go Back", lessons_path %>
  </div>
</div>
