<div class="container">
  <div class="row">
    <% @listed_lessons.each do |lesson| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <%= link_to lesson_path(lesson) do %>
          <div class="card-whole">
            <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path lesson.image, height: 300, width: 400, crop: :fill %>')">
              <% if lesson.user.image? %>
                <%= image_tag(lesson.user.image, class: "card-user") %>
              <% else %>
                 <%= image_tag "https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.louthcraftmark.com%2Fwp-content%2Fuploads%2F2015%2F07%2Fphoto-girl.png&f=1", class: "card-user" %>
              <% end %>
              <div class="card-title">
                <h2><%= lesson.title %></h2>
              </div>
              <div class="card-location">
                <h3><i class="fas fa-map-marker"></i><%= lesson.location %></h3>
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-category">
                <p><%= lesson.cuisine %></p>
              </div>
              <div class="card-description ">
                <p><%= lesson.description %></p>
              </div>
              <div class="card-label-container">
                <div class="card-price">
                  <p>€<%= lesson.price.to_i %></p>
                </div>
                <div class="card-capacity">
                  <p><i class="fas fa-users"></i><%= lesson.capacity %></p>
                </div>
                <div class="card-submit">
                  <form action="/lessons/<%=lesson.id%>">
                    <input type="submit" value="View Class" class="btn btn-primary">
                  </form>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
