<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to lesson_path(booking.lesson) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path booking.lesson.image, height: 300, width: 400, crop: :fill %>')">
            <div class="card-title">
              <h2><%= booking.lesson.title %></h2>
            </div>
            <div class="card-status">
              <p><%= booking.status  %></p>
            </div>
            <div class="card-description">
              <p><%= booking.lesson.description %></p>
            </div>
            <img class="card-user" src="https://avatars3.githubusercontent.com/u/10833329?s=460&v=4">
            <div>
              <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class:"card-booking-delete" do %>
                Cancel Booking
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
