<div class="container home">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        <% lessons.each do |lesson| %>
          <div class="item active">
            <div class="item-styling">
              <%= link_to lesson_path(lessons.first), class: 'carousel-link' do %>
                <div class="card slider" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path lessons.first.image, height: 300, width: 400, crop: :fill %>')">
                  <div class="card-title">
                    <h2><%= lessons.first.title %></h2>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

            <div class="item">
              <div class="item-styling">
                <%= link_to lesson_path(lesson), class: 'carousel-link' do %>
                  <div class="card slider" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= cl_image_path lesson.image_url, height: 300, width: 400, crop: :fill %>')">
                    <div class="card-title">
                      <h2><%= lesson.title %></h2>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>


        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
