  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <div class="page-header align-top">
          <h2>
            <%= @lesson.title %> <%= link_to "Edit", edit_lesson_path, :class => "btn btn-primary" %>
          </h2>
          <p>Information about the lesson:</p>
          <p><i class="fas fa-utensils"></i>  <%= @lesson.cuisine %></p>
          <p><i class="fas fa-map-marker"></i>  <%= @lesson.location %></p>
          <p><i class="fas fa-user"></i>  <%= @lesson.capacity %></p>
          <p><i class="fas fa-euro-sign"></i>  <%= @lesson.price %> </p>
        </div>
      </div>
      <div class="text-center col-md-4">
        <div class="page-header align-top">
          <img class="show-image-page" src="<%= @lesson.image %>" alt="Cooking lesson">
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">

            <div>
              <div class="text-center">
                <p>
                 <img src="https://avatars3.githubusercontent.com/u/10833329?s=460&v=4 <%# link_to @lesson.image, user_path(@lesson.user) %>" alt="Host profile picture" class="img-rounded-host">
               </p>
               <p>Hosted By:
                <%= link_to @lesson.user.first_name, user_path(@lesson.user) %>
                <%= link_to @lesson.user.last_name, user_path(@lesson.user) %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div>
              <h4>About your host</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, commodi adipisci cupiditate atque. Autem rem adipisci nesciunt hic assumenda saepe illo libero voluptate accusamus repellat, iure nostrum quos velit reiciendis.</p>
              <h4>What you will be cooking</h4>
              <p><%= @lesson.description %></p>
              <div class="text-center">
                <%= link_to "Book!", new_lesson_booking_path(@lesson), :class => "btn btn-primary" %>
              </div>
            </div>
            <%#= link_to "Go Back", lessons_path, :class => "btn btn-primary" %>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>



<div class="container ">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      >
    </div>

  </div>
</div>
</div>
