<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="page-header align-top">
              <h2>
                <%= @lesson.title %>
              </h2>
              <p>Information about the lesson</p>
              <p class="text-left">Hosted By: <%= link_to @lesson.user.email, user_path(@lesson.user) %></p>
              <p>Cuisine: <%= @lesson.cuisine %></p>
              <p>Location: <%= @lesson.location %></p>
              <p>Max p.: <%= @lesson.capacity %></p>
            </div>
          </div>
          <div class="text-center col-md-4">
            <div class="page-header align-top">
              <img class="show-image-page" src="<%= @lesson.image %>" alt="Cooking lesson">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="container">
      <div class="row">
        <h4>About your host</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, commodi adipisci cupiditate atque. Autem rem adipisci nesciunt hic assumenda saepe illo libero voluptate accusamus repellat, iure nostrum quos velit reiciendis.</p>
      </div>
      <div class="row">
        <h4>What you will be cooking</h4>
        <p><%= @lesson.description %></p>
      </div>
    </div>
    <%= link_to "Go Back", lessons_path %>
  </div>
</div>

